body{
	text-align: center;
	border-top: 2px solid #821122;
}

.bg{
	background-color: #252525;
	color: #fff;
	position: fixed;
	width: 100%;
	height: 300%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg img{
	padding-top: 15px;
}

.comments{
	max-height: 400px;
	overflow: scroll;
	border: 2px solid #821122;
	border-radius: 4px;
}

.comment{
	width: 100%;
	border-bottom: 1px solid #FCFCFC;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.comment .name{
	text-align: left;
	margin-left: 5px;
}
.comment .text{
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

.comment_img{
	max-height: 250px;
	max-width: 100%;
	opacity: 1;
}

.comment_form{
	position: relative;
}

.preview-img{
	max-height: 33px;
}

#chat-btns{
	padding-top: 10px;
}

section {
	background-color: #CCCCCC;
	width: 100%;
	margin-top: 400px;
	border: 2px solid #821122;
	border-radius: 10px;
	opacity: .9;
}

ul{
	margin-top: 10px;
	width: 200px;
	margin-left: auto !important;
	margin-right: auto;
	text-align: left;
	padding-left: 60px;
}

#men{
	margin: auto;
}

.bbox{
	background-color: #252525;
	color: #FCFCFC;
	margin-top: 10px;
	min-height: 200px;
	padding: 20px;
	border: 1px solid #FCFCFC;
	border-radius: 30px;
}

#unaccepted{
	font-family: 'Niconne', cursive;
	border-color: black;
	border-width: 3px;
	border-style: double;
	width: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#unaccepted p{
	font-size: 21px;
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}
#unaccepted ul{
	font-size: 21px;
}
#unaccepted button{
	font-size: 20px;
}

p{
	margin: 0;
	font-family: inherit;
}

h3{
	font-family: inherit;
	margin: 15px;
}
h2{
	font-family: inherit;
	margin-bottom: 15px;
}
h1{
	font-family: inherit;
}